/* 標籤的基本樣式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // letter-spacing: 0.02em;
  // background-color: $natural-95;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: inherit;
}

// 按鈕
.btn-secondaryL {
  border-radius: 100px;
  padding: 16px 24px;
  line-height: 19.2px;
  background-color: $secondary-50;
  color: $secondary-700;
}

.btn-secondaryM {
  padding: 8px 16px;
  background-color: $secondary-50;
  color: $secondary-700;
}
// 綠色按鈕hover
.btn-secondaryL:hover,
.btn-secondaryM:hover {
  background-color: $secondary-700;
  color: $white;
}
// 橘色按鈕hover
.btn-primaryL:hover {
  background-color: $primary-400 !important;
}
