$utilities: map-merge(
    $utilities,
    (
        "font-size":
            map-merge(
                map-get($utilities, "font-size"),
                (
                    responsive: true,
                )
            ),
        //   字體寬度
        "font-weight":
            map-merge(
                map-get($utilities, "font-weight"),
                (
                    responsive: true,
                )
            ),
        //   標題文字大小
        "display-heading":
            (
                responsive: true,
                property: font-size,
                class: display,
                values: $display-font-sizes,
            ),
        "gap": (
            responsive: true,
            property: gap,
            class: gap,
            values: $spacers,
        ),
        // 圓角
        "rounded":
            map-merge(
                map-get($utilities, "rounded"),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, "rounded"), "values"),
                            (
                                "sm": $border-radius-sm,
                                "lg": $border-radius-lg,
                                "xl": $border-radius-xl,
                                "xxl": $border-radius-xxl,
                            )
                        ),
                )
            ),
    )
);

.rounded-6 {
    border-radius: 40px;
}

.object-fit-contain {
    object-fit: contain;
}
.object-fit-cover {
    object-fit: cover;
}

.material-symbols-outlined.filled {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.blur-4 {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.vertical-text {
    writing-mode: vertical-rl; /* 文字直排 */
    text-orientation: upright; /* 字保持直立 */
    line-height: 1.5;
}
