<div class="container-fluid py80-px422 bg-bg-01">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="banner-container">
                <!-- 插畫圖片1 -->
                <div class="illustration-1"></div>

                <!-- 插畫圖片2 -->
                <div class="illustration-2"></div>

                <!-- 立即註冊按鈕 -->
                <div class="button-container">
                    <button class="btn btn-secondaryL bg-primary-500 btn-primaryL text-white fw-semibold"
                        onclick="openRegisterModal()">立即註冊
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>