
<section class="container">
  <div class="d-flex justify-content-center">
    <img src="/assets/images/changing-world.svg" alt="changing-world">
    <img src="/assets/images/world.png" alt="world">
</div>

<div class="row">
    <div class="col text-center">
      <h4 class="fs-lg fs-lg-4 fw-semibold mb-2 mb-lg-4">專案完成率</h4>
      <h3 class="display-4 fw-bold text-secondary-600">80%</h3>
    </div>
    <div class="col text-center">
      <h4 class="fs-lg fs-lg-4 fw-semibold mb-2 mb-lg-4">成功專案</h4>
      <h3 class="display-4 fw-bold text-secondary-600">400+</h3>
    </div>
    <div class="col text-center">
      <h4 class="fs-lg fs-lg-4 fw-semibold mb-2 mb-lg-4">志工參與</h4>
      <h3 class="display-4 fw-bold text-secondary-600">20k+</h3>      
    </div>
</div>


  </div>

</section>