<section class="container-fluid bg-bg-01">
  <div class="container">
    <div class="row">
      <div class="col-10 m-auto">
        <div class="border border-secondary-500 rounded-6 py-2xl bg-white my-7">


          <div class="d-flex justify-content-center mb-lg-2xl mb-xxl">
            <img src="/assets/images/changing-world.svg" alt="changing-world">
            <!-- <img src="/assets/images/world.png" alt="world" class="h-100"> -->
          </div>

          <div class="row mb-lg-2xl mb-xxl mx-lg-2xl mx-5">
            <div class="col text-center">
              <h4 class="fs-lg fs-lg-4 fw-semibold mb-2 mb-lg-4">專案完成率</h4>
              <h3 class="display-4 fw-bold text-secondary-600">80%</h3>
            </div>
            <div class="col text-center">
              <h4 class="fs-lg fs-lg-4 fw-semibold mb-2 mb-lg-4">成功專案</h4>
              <h3 class="display-4 fw-bold text-secondary-600">400+</h3>
            </div>
            <div class="col text-center">
              <h4 class="fs-lg fs-lg-4 fw-semibold mb-2 mb-lg-4">志工參與</h4>
              <h3 class="display-4 fw-bold text-secondary-600">20k+</h3>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondaryL bg-primary-500 btn-primaryL text-white fw-semibold">立即參與專案</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>