<footer class="container-fluid border-top bg-gray">
    <img src="../assets/images/Exclude.svg" alt="Exclude" class="Exclude d-none d-md-block">
    <img src="../assets/images/Exclude-small.svg" alt="Exclude" class="Exclude d-block d-md-none">
    <div class="container mx-312">
        <div class="row footer-columns">
            <!-- Logo 區塊，佔據一定寬度 -->
            <div class="col-lg-2 col-md-12 mb-4">
                <a href="index.html">
                    <img src="../assets/images/logo.svg" alt="logo" class="footer-logo">
                </a>
            </div>

            <!-- 連結區塊，用 nested row 來處理 -->
            <div class="col-lg-10 col-md-12">
                <!-- <div class="row row-cols-2 row-cols-md-4 align-items-start"> -->
                <div class="row align-items-start">
                    <!-- 平台區塊 -->
                    <div class="col-lg-3 col-md-6 col-6 platform">
                        <h6 class="text-natural-500 fw-normal pb-4 pe-4 ps-4 mb-2 custom-border fs-14">平台</h6>
                        <div class="row g-2">
                            <div class="col-6">
                                <a href="#"
                                    class="text-natural-950 text-decoration-none link-primary d-block footer-link ps-4 pe-4">關於我們</a>
                                <a href="userAgreement.html"
                                    class="text-natural-950 text-decoration-none link-primary d-block footer-link ps-4 pe-4">使用條款</a>
                            </div>
                            <div class="col-6">
                                <a href="privacy.html"
                                    class="text-natural-950 text-decoration-none link-primary d-block footer-link ps-4 pe-4">隱私權政策</a>
                                <a href="#"
                                    class="text-natural-950 text-decoration-none link-primary d-block footer-link ps-4 pe-4">聯絡我們</a>
                            </div>
                        </div>
                    </div>

                    <!-- 志工區塊 -->
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6 class="text-natural-500 fw-normal pb-4 pe-4 ps-4 mb-2 custom-border fs-14">志工</h6>
                        <ul class="list-unstyled">
                            <li class=""><a href="#"
                                    class="text-natural-950 text-decoration-none link-primary footer-link ps-4 pe-4 fs-7">專案列表</a>
                            </li>
                            <li class=""><a href="#" onclick="openLightbox()"
                                    class="text-natural-950 text-decoration-none link-primary footer-link ps-4 pe-4">志工故事</a>
                            </li>
                        </ul>
                    </div>

                    <!-- 提案方區塊 -->
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6 class="text-natural-500 fw-normal pb-4 pe-4 ps-4 mb-2 custom-border fs-14">提案方</h6>
                        <ul class="list-unstyled">
                            <li class=""><a href="#"
                                    class="text-natural-950 text-decoration-none link-primary footer-link ps-4 pe-4">感謝牆</a>
                            </li>
                            <li class=""><a href="#"
                                    class="text-natural-950 text-decoration-none link-primary footer-link ps-4 pe-4">成功案例</a>
                            </li>
                        </ul>
                    </div>

                    <!-- 立即追蹤區塊 -->
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6 class="text-natural-500 fw-normal pb-4 pe-4 ps-4 mb-2 custom-border fs-14">立即追蹤</h6>
                        <div class="d-flex gap-4 py-2 px-4">
                            <a href="#"
                                class="text-primary-500 bg-primary-50 icon-radius d-flex justify-content-center align-items-center p-2">
                                <i class="fa-brands fa-facebook fa-lg"></i>
                            </a>
                            <a href="#"
                                class="text-primary-500 bg-primary-50 icon-radius d-flex justify-content-center align-items-center p-2">
                                <i class="ti ti-brand-instagram-filled"></i>
                            </a>
                            <a href="#"
                                class="text-primary-500 bg-primary-50 icon-radius d-flex justify-content-center align-items-center p-2">
                                <i class="fa-brands fa-line fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 版權聲明 -->
        <div class="row mb-6">
            <div class="col-12 text-center">
                <small class="text-natural-500 bg-natural-50 d-inline-block border-radius py-2 px-4">
                    Copyright© SparkFund., LTD. All Rights Reserved
                </small>
            </div>
        </div>
    </div>
</footer>

<%- include('volunteerStories') %>