<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"/>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-3">
    <div class="container d-flex align-items-center">
        <!-- Logo -->
        <a class="navbar-brand logo-picture" href="index.html">
            <img src="../assets/images/logo.svg" alt="logo">
        </a>

        <!-- 手機版登入按鈕 -->
        <a href="user.html" class="d-lg-none ms-auto me-2">
            <button class="btn btn-secondaryL fw-semibold btn-mobile">登入/註冊</button>
        </a>

        <!-- 漢堡選單 -->
        <button class="navbar-toggler border-0 d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 摺疊選單 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link px-3 text-natural-950 text-decoration-none link-primary" href="#">專案探索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-natural-950 text-decoration-none link-primary" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-natural-950 text-decoration-none link-primary" href="#">志工故事</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-natural-950 text-decoration-none link-primary" href="#">常見問題</a>
                </li>
                <!-- 桌面版登入按鈕 -->
                <li class="nav-item d-none d-lg-block ms-5">
                    <a href="user.html">
                        <button class="btn btn-secondaryL fw-semibold">登入/註冊</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>