<nav class="navbar navbar-sticky navbar-expand-lg navbar-light bg-light border-bottom border-natural-300 py-3">
    <div class="container d-flex align-items-center">
        <!-- Logo -->
        <a class="navbar-brand logo-picture" href="index.html">
            <img src="../assets/images/logo.svg" alt="logo">
        </a>

        <!-- 手機版登入按鈕 -->
        <a href="#" class="d-lg-none ms-auto me-2">
            <button class="btn btn-secondaryL fw-semibold btn-mobile" onclick="openLoginModal()">登入/註冊</button>
        </a>

        <!-- 漢堡選單  -->
        <button class="navbar-toggler border-0 d-lg-none" type="button" onclick="toggleMobileDropdown()">
            <i id="hamburgerIcon" class="fa-solid fa-bars text-natural-700 hamburger-icon"></i>
        </button>

        <!-- 桌面版菜單 -->
        <div class="collapse navbar-collapse navbarList" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="navbarList-link nav-link px-3 text-natural-950 text-decoration-none link-primary"
                        href="#">專案探索</a>
                </li>
                <li class="nav-item">
                    <a class="navbarList-link nav-link px-3 text-natural-950 text-decoration-none link-primary"
                        href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="navbarList-link nav-link px-3 text-natural-950 text-decoration-none link-primary" href="#"
                        onclick="openLightbox()">志工故事</a>
                </li>
                <li class="nav-item">
                    <a class="navbarList-link nav-link px-3 text-natural-950 text-decoration-none link-primary"
                        href="#">常見問題</a>
                </li>
                <!-- 桌面版登入按鈕 -->
                <li class="nav-item d-none d-lg-block ms-5">
                    <a href="#">
                        <button class="btn btn-secondaryL fw-semibold" onclick="openLoginModal()">登入/註冊</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 手機版下拉菜單  -->
<div class="mobile-dropdown-menu d-lg-none" id="mobileDropdown">
    <ul class="mobile-menu-links pb-4 text-center">
        <li><a href="#" class="text-natural-950 text-decoration-none link-primary fs-6"
                onclick="closeMobileDropdown()">專案探索</a></li>
        <li><a href="#" class="text-natural-950 text-decoration-none link-primary fs-6"
                onclick="closeMobileDropdown()">關於我們</a></li>
        <li><a href="#" class="text-natural-950 text-decoration-none link-primary fs-6"
                onclick="closeMobileDropdown(); openLightbox()">志工故事</a></li>
        <li><a href="#" class="text-natural-950 text-decoration-none link-primary fs-6"
                onclick="closeMobileDropdown()">常見問題</a></li>
    </ul>

    <div class="mobile-menu-footer py-4 px-5 mx-3">
        <button class="btn btn-secondaryL fw-semibold rounded-pill" onclick="openLoginModal()">登入/註冊</button>
    </div>
</div>

<%- include('volunteerStories') %>
    <%- include('login') %>