<!-- 圓弧 -->
<div>
    <img src="/assets/images/arc.svg" alt="arc" class="d-block" />
</div>
<section class="container-fluid bg-gradient pe-0 overflow-hidden">
    <div class="container">
        <div class="row">
            <!-- 插畫 -->
            <div
                class="d-flex justify-content-center position-relative mb-lg-2xl mb-xl">
                <img
                    src="/assets/images/projects.svg"
                    alt="projects"
                    class="md-w180" />
                <img
                    src="/assets/images/fire.svg"
                    alt="fire"
                    class="md-w80 position-absolute start-60 top-60 translate-middle" />
            </div>
            <!-- 目錄 List -->
            <div
                class="d-flex justify-content-between flex-column flex-xl-row row-gap-4 mb-lg-2xl mb-xl">
                <div class="overflow-auto">
                    <div class="d-flex gap-lg-5 gap-3">
                        <button
                            type="button"
                            class="d-flex flex-column btn-category rounded fs-7 fw-semibold active text-nowrap">
                            <span class="material-symbols-outlined mb-1">
                                grid_view </span
                            >全部分類
                        </button>

                        <button
                            type="button"
                            class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                            <span class="material-symbols-outlined mb-1">
                                palette </span
                            >設計科技
                        </button>

                        <button
                            type="button"
                            class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                            <span class="material-symbols-outlined mb-1">
                                animated_images </span
                            >藝術影音
                        </button>

                        <button
                            type="button"
                            class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                            <span class="material-symbols-outlined mb-1">
                                book_ribbon </span
                            >教育陪伴
                        </button>

                        <button
                            type="button"
                            class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                            <span class="material-symbols-outlined mb-1">
                                volunteer_activism </span
                            >社會行動
                        </button>

                        <button
                            type="button"
                            class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                            <span class="material-symbols-outlined mb-1">
                                chair </span
                            >生活改善
                        </button>

                        <button
                            type="button"
                            class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                            <span class="material-symbols-outlined mb-1">
                                campaign </span
                            >推廣支援
                        </button>
                    </div>
                </div>

                <div class="d-flex gap-lg-4 gap-3">
                    <div class="dropdown flex-grow-1 flex-lg-grow-0">
                        <button
                            class="btn btn-secondary dropdown-toggle bg-white border-natural-200 px-4 py-2 px-lg-5 py-lg-4 fs-7 fs-lg-6 fw-semibold w-100 w-lg-auto"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            專案狀態 : 進行中
                        </button>
                        <ul class="dropdown-menu member-dropdown top90">
                            <li>
                                <a class="dropdown-item" href="#"
                                    >專案狀態 : 即將開始</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >專案狀態 : 成功專案</a
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown flex-grow-1 flex-lg-grow-0 top100">
                        <button
                            class="btn btn-secondary dropdown-toggle bg-white border-natural-200 px-4 py-2 px-lg-5 py-lg-4 fs-7 fs-lg-6 fw-semibold w-100 w-lg-auto"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            排序 : 熱門
                        </button>
                        <ul class="dropdown-menu member-dropdown top90">
                            <li>
                                <a class="dropdown-item" href="#"
                                    >排序 : 最新上架</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >排序 : 募資進度</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >排序 : 截止日期</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 卡片區 -->
    <div class="container bg-gradient mb-lg-2xl mb-xl">
        <div class="project-card-slider">
            <div class="slider-track gap-4 gap-lg-5">
                <!-- 卡片一 -->
                <div
                    class="card-fixed border rounded border-primary-300 border-2 bg-project-card">
                    <div class="p-4 p-lg-xxl">
                        <div class="position-relative mb-4 mb-lg-5">
                            <img
                                src="/assets/images/project-card_1.png"
                                class="rounded"
                                alt="project-card_1" />

                            <!-- 標籤 -->
                            <div
                                class="position-absolute top-0 start-0 mt-3 ms-3 d-flex align-items-center gap-2">
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        language </span
                                    >遠端</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        event_note </span
                                    >中期</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        forest </span
                                    >偏鄉</span
                                >
                            </div>

                            <div
                                class="position-absolute bottom-0 end-0 me-3 mb-3">
                                <span
                                    class="bg-white bg-opacity-75 p-2 blur-4 rounded-circle d-flex align-items-center"
                                    ><span
                                        class="material-symbols-outlined fs-4">
                                        favorite
                                    </span></span
                                >
                            </div>
                        </div>

                        <h5 class="card-title fs-lg fs-lg-4 mb-2 mb-lg-3">
                            偏鄉小學網站改版
                        </h5>
                        <p
                            class="card-text fs-lg-6 fs-7 mb-2 mb-lg-4 text-truncate">
                            優化校園資訊傳遞，為偏鄉教育搭起數位橋樑
                        </p>

                        <div class="success-cases-skill-tags mb-3 mb-lg-3">
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>前端切版</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>UI/UX設計</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>RWD</span>
                            </a>
                        </div>

                        <!-- 進度條 -->
                        <div class="mb-3 mb-lg-4">
                            <div class="d-flex align-items-center">
                                <div
                                    class="progress flex-fill"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="40"
                                    aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div
                                        class="progress-bar"
                                        style="width: 25%"></div>
                                </div>
                                <p
                                    class="fs-7 fs-lg-6 ms-2 text-primary-500 fw-semibold">
                                    40%
                                </p>
                            </div>
                        </div>

                        <!-- 數字區塊 -->
                        <div class="d-flex justify-content-between">
                            <h4 class="fs-lg fs-lg-4">NT$ 40,000</h4>
                            <div class="d-flex">
                                <p
                                    class="fs-7 fs-lg-6 me-4 d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined filled align-bottom me-1">
                                        face
                                    </span>
                                    志工<span class="fw-semibold px-1">3</span
                                    >人
                                </p>

                                <div class="d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined align-bottom">
                                        hourglass
                                    </span>
                                    <p class="fs-7 fs-lg-6">
                                        <span class="fw-semibold px-1">12</span
                                        >天
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 卡片二 -->
                <div
                    class="card-fixed bg-project-card border rounded border-primary-300 border-2">
                    <div class="p-4 p-lg-xxl">
                        <div class="position-relative mb-4 mb-lg-5">
                            <img
                                src="/assets/images/project-card_2.png"
                                class="rounded"
                                alt="project-card_2" />

                            <!-- 標籤 -->
                            <div
                                class="position-absolute top-0 start-0 mt-3 ms-3 d-flex align-items-center gap-2">
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg align-bottom">
                                        pin_drop </span
                                    >在地</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        event </span
                                    >一日</span
                                >
                            </div>

                            <div
                                class="position-absolute bottom-0 end-0 me-3 mb-3">
                                <span
                                    class="bg-white bg-opacity-75 p-2 blur-4 rounded-circle d-flex align-items-center"
                                    ><span
                                        class="material-symbols-outlined fs-4">
                                        favorite
                                    </span></span
                                >
                            </div>
                        </div>

                        <h5 class="card-title fs-lg fs-lg-4 mb-2 mb-lg-3">
                            淨灘行動日：守護海岸線
                        </h5>
                        <p
                            class="card-text fs-lg-6 fs-7 mb-2 mb-lg-4 text-truncate">
                            不需專業背景，只需一顆願意參與的心。地點： 基隆沿海
                        </p>

                        <div class="success-cases-skill-tags mb-3 mb-lg-3">
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>不拘(不需經驗)</span>
                            </a>
                        </div>

                        <!-- 進度條 -->
                        <div class="mb-3 mb-lg-4">
                            <div class="d-flex align-items-center">
                                <div
                                    class="progress flex-fill"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="92"
                                    aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div
                                        class="progress-bar"
                                        style="width: 25%"></div>
                                </div>
                                <p
                                    class="fs-7 fs-lg-6 ms-2 text-primary-500 fw-semibold">
                                    92%
                                </p>
                            </div>
                        </div>

                        <!-- 數字區塊 -->
                        <div class="d-flex justify-content-between">
                            <h4 class="fs-lg fs-lg-4">NT$ 5,000</h4>
                            <div class="d-flex">
                                <p
                                    class="fs-7 fs-lg-6 me-4 d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined filled align-bottom me-1">
                                        face
                                    </span>
                                    志工<span class="fw-semibold px-1">10</span
                                    >人
                                </p>

                                <div class="d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined align-bottom">
                                        hourglass
                                    </span>
                                    <p class="fs-7 fs-lg-6">
                                        <span class="fw-semibold px-1">2</span
                                        >天
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 卡片三 -->
                <div
                    class="card-fixed bg-project-card border rounded border-primary-300 border-2 position-relative"
                    id="card3">
                    <div class="p-4 p-lg-xxl">
                        <div class="position-relative mb-4 mb-lg-5">
                            <img
                                src="/assets/images/project-card_3.png"
                                class="rounded"
                                alt="project-card_3" />

                            <!-- 標籤 -->
                            <div
                                class="position-absolute top-0 start-0 mt-3 ms-3 d-flex align-items-center gap-2">
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        language </span
                                    >遠端</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        date_range </span
                                    >短期</span
                                >
                            </div>

                            <div
                                class="position-absolute bottom-0 end-0 me-3 mb-3">
                                <span
                                    class="bg-white bg-opacity-75 p-2 blur-4 rounded-circle d-flex align-items-center"
                                    ><span
                                        class="material-symbols-outlined fs-4">
                                        favorite
                                    </span></span
                                >
                            </div>
                        </div>

                        <h5 class="card-title fs-lg fs-lg-4 mb-2 mb-lg-3">
                            颱風災後資訊彙整地圖協作
                        </h5>
                        <p
                            class="card-text fs-lg-6 fs-7 mb-2 mb-lg-4 text-truncate">
                            彙整災情、需求與資源資訊，協作製作資訊地圖支援救災溝通
                        </p>

                        <div class="success-cases-skill-tags mb-3 mb-lg-3">
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>資料整理</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>表單設計</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>地圖工具</span>
                            </a>
                        </div>

                        <!-- 進度條 -->
                        <div class="mb-3 mb-lg-4">
                            <div class="d-flex align-items-center">
                                <div
                                    class="progress flex-fill"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="37"
                                    aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div
                                        class="progress-bar"
                                        style="width: 25%"></div>
                                </div>
                                <p
                                    class="fs-7 fs-lg-6 ms-2 text-primary-500 fw-semibold">
                                    37%
                                </p>
                            </div>
                        </div>

                        <!-- 數字區塊 -->
                        <div class="d-flex justify-content-between">
                            <h4 class="fs-lg fs-lg-4">NT$ 15,000</h4>
                            <div class="d-flex">
                                <p
                                    class="fs-7 fs-lg-6 me-4 d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined filled align-bottom me-1">
                                        face
                                    </span>
                                    志工<span class="fw-semibold px-1">5</span
                                    >人
                                </p>

                                <div class="d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined align-bottom">
                                        hourglass
                                    </span>
                                    <p class="fs-7 fs-lg-6">
                                        <span class="fw-semibold px-1">7</span
                                        >天
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- fab right -->
                <div
                    class="position-absolute end-0 top-50 translate-middle z-1 fab d-none d-lg-block"
                    data-aos="fade-up"
                    id="jumpBtn">
                    <button
                        type="button"
                        class="border-0 shadow rounded-circle p-3 bg-hover-black">
                        <i class="ti ti-arrow-big-right-line-filled"></i>
                    </button>
                </div>

                <!-- fab left 
                <div
                    class="position-absolute end-0 top-50 translate-middle z-1 fab d-none d-lg-block"
                    data-aos="fade-up"
                    id="jumpBtn">
                    <button
                        type="button"
                        class="border-0 shadow rounded-circle p-3 bg-hover-black">
                        <i class="ti ti-arrow-big-left-line-filled"></i>
                    </button>
                </div> -->

                <!-- 卡片四 -->
                <div
                    class="card-fixed bg-project-card border rounded border-primary-300 border-2"
                    id="card4">
                    <div class="p-4 p-lg-xxl">
                        <div class="position-relative mb-4 mb-lg-5">
                            <img
                                src="/assets/images/project-card_4.png"
                                class="rounded"
                                alt="project-card_4" />

                            <!-- 標籤 -->
                            <div
                                class="position-absolute top-0 start-0 mt-3 ms-3 d-flex align-items-center gap-2">
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        language </span
                                    >遠端</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        date_range </span
                                    >短期</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        forest </span
                                    >偏鄉</span
                                >
                            </div>

                            <div
                                class="position-absolute bottom-0 end-0 me-3 mb-3">
                                <span
                                    class="bg-white bg-opacity-75 p-2 blur-4 rounded-circle d-flex align-items-center"
                                    ><span
                                        class="material-symbols-outlined fs-4">
                                        favorite
                                    </span></span
                                >
                            </div>
                        </div>

                        <h5 class="card-title fs-lg fs-lg-4 mb-2 mb-lg-3">
                            在地故事紀錄短片製作
                        </h5>
                        <p
                            class="card-text fs-lg-6 fs-7 mb-2 mb-lg-4 text-truncate">
                            剪輯原住民在地生活與人物紀錄，傳遞土地的真實與溫度
                        </p>

                        <div class="success-cases-skill-tags mb-3 mb-lg-3">
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>影片剪輯</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>字幕處理</span>
                            </a>
                        </div>

                        <!-- 進度條 -->
                        <div class="mb-3 mb-lg-4">
                            <div class="d-flex align-items-center">
                                <div
                                    class="progress flex-fill"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="40"
                                    aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div
                                        class="progress-bar"
                                        style="width: 25%"></div>
                                </div>
                                <p
                                    class="fs-7 fs-lg-6 ms-2 text-primary-500 fw-semibold">
                                    40%
                                </p>
                            </div>
                        </div>

                        <!-- 數字區塊 -->
                        <div class="d-flex justify-content-between">
                            <h4 class="fs-lg fs-lg-4">NT$ 8,000</h4>
                            <div class="d-flex">
                                <p
                                    class="fs-7 fs-lg-6 me-4 d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined filled align-bottom me-1">
                                        face
                                    </span>
                                    志工<span class="fw-semibold px-1">3</span
                                    >人
                                </p>

                                <div class="d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined align-bottom">
                                        hourglass
                                    </span>
                                    <p class="fs-7 fs-lg-6">
                                        <span class="fw-semibold px-1">12</span
                                        >天
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 卡片五 -->
                <div
                    class="card-fixed border rounded border-primary-300 border-2 bg-project-card">
                    <div class="p-4 p-lg-xxl">
                        <div class="position-relative mb-4 mb-lg-5">
                            <img
                                src="/assets/images/project-card_5.png"
                                class="rounded"
                                alt="project-card_5" />

                            <!-- 標籤 -->
                            <div
                                class="position-absolute top-0 start-0 mt-3 ms-3 d-flex align-items-center gap-2">
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg align-bottom">
                                        pin_drop </span
                                    >在地</span
                                >

                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        date_range </span
                                    >短期</span
                                >
                            </div>

                            <div
                                class="position-absolute bottom-0 end-0 me-3 mb-3">
                                <span
                                    class="bg-white bg-opacity-75 p-2 blur-4 rounded-circle d-flex align-items-center"
                                    ><span
                                        class="material-symbols-outlined fs-4">
                                        favorite
                                    </span></span
                                >
                            </div>
                        </div>

                        <h5 class="card-title fs-lg fs-lg-4 mb-2 mb-lg-3">
                            城市綠化行動：打造口袋公園
                        </h5>
                        <p
                            class="card-text fs-lg-6 fs-7 mb-2 mb-lg-4 text-truncate">
                            與社區居民一起清理閒置空地，種植草木，打造休憩綠色空間。
                        </p>

                        <div class="success-cases-skill-tags mb-3 mb-lg-3">
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>園藝基礎</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>簡單木工</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>不拘（不需經驗）</span>
                            </a>
                        </div>

                        <!-- 進度條 -->
                        <div class="mb-3 mb-lg-4">
                            <div class="d-flex align-items-center">
                                <div
                                    class="progress flex-fill"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="87"
                                    aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div
                                        class="progress-bar"
                                        style="width: 25%"></div>
                                </div>
                                <p
                                    class="fs-7 fs-lg-6 ms-2 text-primary-500 fw-semibold">
                                    87%
                                </p>
                            </div>
                        </div>

                        <!-- 數字區塊 -->
                        <div class="d-flex justify-content-between">
                            <h4 class="fs-lg fs-lg-4">NT$ 12,000</h4>
                            <div class="d-flex">
                                <p
                                    class="fs-7 fs-lg-6 me-4 d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined filled align-bottom me-1">
                                        face
                                    </span>
                                    志工<span class="fw-semibold px-1">5</span
                                    >人
                                </p>

                                <div class="d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined align-bottom">
                                        hourglass
                                    </span>
                                    <p class="fs-7 fs-lg-6">
                                        <span class="fw-semibold px-1">3</span
                                        >天
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 卡片六 -->
                <div
                    class="card-fixed border rounded border-primary-300 border-2 bg-project-card">
                    <div class="p-4 p-lg-xxl">
                        <div class="position-relative mb-4 mb-lg-5">
                            <img
                                src="/assets/images/project-card_6.png"
                                class="rounded"
                                alt="project-card_6" />

                            <!-- 標籤 -->
                            <div
                                class="position-absolute top-0 start-0 mt-3 ms-3 d-flex align-items-center gap-2">
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        pin_drop </span
                                    >在地</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        date_range </span
                                    >短期</span
                                >
                                <span
                                    class="fs-7 bg-white bg-opacity-75 text-natural-950 px-2 py-1 rounded-pill blur-4"
                                    ><span
                                        class="material-symbols-outlined fs-lg me-1 align-bottom">
                                        forest </span
                                    >偏鄉</span
                                >
                            </div>

                            <div
                                class="position-absolute bottom-0 end-0 me-3 mb-3">
                                <span
                                    class="bg-white bg-opacity-75 p-2 blur-4 rounded-circle d-flex align-items-center"
                                    ><span
                                        class="material-symbols-outlined fs-4">
                                        favorite
                                    </span></span
                                >
                            </div>
                        </div>

                        <h5 class="card-title fs-lg fs-lg-4 mb-2 mb-lg-3">
                            長者數位陪伴計畫
                        </h5>
                        <p
                            class="card-text fs-lg-6 fs-7 mb-2 mb-lg-4 text-truncate">
                            教導高齡長者使用手機平板，協助他們與家人視訊、健康管理
                            App。
                        </p>

                        <div class="success-cases-skill-tags mb-3 mb-lg-3">
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>耐心教學</span>
                            </a>
                            <a
                                href="#"
                                class="success-cases-skill-tag text-secondary-800 bg-secondary-50 py-1 px-2 border border-secondary-500 small">
                                <span>手機操作熟悉</span>
                            </a>
                        </div>

                        <!-- 進度條 -->
                        <div class="mb-3 mb-lg-4">
                            <div class="d-flex align-items-center">
                                <div
                                    class="progress flex-fill"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="40"
                                    aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div
                                        class="progress-bar"
                                        style="width: 25%"></div>
                                </div>
                                <p
                                    class="fs-7 fs-lg-6 ms-2 text-primary-500 fw-semibold">
                                    92%
                                </p>
                            </div>
                        </div>

                        <!-- 數字區塊 -->
                        <div class="d-flex justify-content-between">
                            <h4 class="fs-lg fs-lg-4">NT$ 6,000</h4>
                            <div class="d-flex">
                                <p
                                    class="fs-7 fs-lg-6 me-4 d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined filled align-bottom me-1">
                                        face
                                    </span>
                                    志工<span class="fw-semibold px-1">10</span
                                    >人
                                </p>

                                <div class="d-flex align-items-center">
                                    <span
                                        class="material-symbols-outlined align-bottom">
                                        hourglass
                                    </span>
                                    <p class="fs-7 fs-lg-6">
                                        <span class="fw-semibold px-1">2</span
                                        >天
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA Button -->
    <div class="d-flex justify-content-center pb-lg-2xl pb-xl">
        <button
            type="button"
            class="btn btn-secondaryL bg-primary-500 btn-primaryL text-white fw-semibold">
            探索更多專案
        </button>
    </div>
</section>
