<!-- @format -->

<!-- 圓弧 -->
<div>
    <img src="/assets/images/arc.svg" alt="arc" class="w100" />
</div>
<section class="container-fluid bg-bg-02">
    <div class="container">
        <div class="row">
            <!-- 插畫 -->
            <div
                class="d-flex justify-content-center position-relative mb-lg-2xl mb-xl">
                <img
                    src="/assets/images/projects.svg"
                    alt="projects"
                    class="md-w180" />
                <img
                    src="/assets/images/fire.svg"
                    alt="fire"
                    class="md-w80 position-absolute start-60 top-50 translate-middle" />
            </div>
            <!-- 目錄 List -->

            <!-- 卡片 -->

            <!-- CTA Button -->
            <div class="d-flex justify-content-center">
                <button
                    type="button"
                    class="btn btn-secondaryL bg-primary-500 btn-primaryL text-white fw-semibold">
                    探索更多專案
                </button>
            </div>
        </div>
    </div>
</section>
