<!-- @format -->

<!-- 圓弧 -->
<div>
    <img src="/assets/images/arc.svg" alt="arc"  />
</div>
<section class="container-fluid bg-bg-02">
    <div class="container">
        <div class="row">
            <!-- 插畫 -->
            <div
                class="d-flex justify-content-center position-relative mb-lg-2xl mb-xl">
                <img
                    src="/assets/images/projects.svg"
                    alt="projects"
                    class="md-w180" />
                <img
                    src="/assets/images/fire.svg"
                    alt="fire"
                    class="md-w80 position-absolute start-60 top-60 translate-middle" />
            </div>
            <!-- 目錄 List -->
            <div class="d-flex justify-content-between flex-column flex-lg-row row-gap-4 mb-lg-2xl mb-xl">
                <div class="overflow-auto">
                <div class="d-flex gap-lg-5 gap-3">
                    <button
                        type="button"
                        class="d-flex flex-column btn-category rounded fs-7 fw-semibold active text-nowrap">
                        <span class="material-symbols-outlined mb-1">
                            grid_view </span
                        >全部分類
                    </button>

                    <button
                        type="button"
                        class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                        <span class="material-symbols-outlined mb-1">
                            palette </span
                        >設計科技
                    </button>

                    <button
                        type="button"
                        class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                        <span class="material-symbols-outlined mb-1">
                            animated_images </span
                        >藝術影音
                    </button>

                    <button
                        type="button"
                        class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                        <span class="material-symbols-outlined mb-1">
                            book_ribbon </span
                        >教育陪伴
                    </button>

                    <button
                        type="button"
                        class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                        <span class="material-symbols-outlined mb-1">
                            volunteer_activism </span
                        >社會行動
                    </button>

                    <button
                        type="button"
                        class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                        <span class="material-symbols-outlined mb-1">
                            chair </span
                        >生活改善
                    </button>

                    <button
                        type="button"
                        class="d-flex flex-column btn-category rounded fs-7 fw-semibold text-nowrap">
                        <span class="material-symbols-outlined mb-1">
                            campaign </span
                        >推廣支援
                    </button>
                </div></div>
                
                <div class="d-flex gap-lg-4 gap-3">
                   <div class="dropdown flex-grow-1 flex-lg-grow-0"> 
                        <button
                            class="btn btn-secondary dropdown-toggle bg-white border-natural-200 px-4 py-2 px-lg-5 py-lg-4 fs-7 fs-lg-6 fw-semibold w-100 w-lg-auto"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            專案狀態 : 進行中
                        </button>
                        <ul class="dropdown-menu position-static">
                            <li>
                                <a class="dropdown-item" href="#">專案狀態 : 即將開始</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >專案狀態 : 成功專案</a
                                >
                            </li>
                        </ul>
                    </div>

                   <div class="dropdown flex-grow-1 flex-lg-grow-0">             
                        <button
                            class="btn btn-secondary dropdown-toggle bg-white border-natural-200 px-4 py-2 px-lg-5 py-lg-4 fs-7 fs-lg-6 fw-semibold w-100 w-lg-auto"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            排序 : 熱門
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">排序 : 最新上架</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >排序 : 募資進度</a
                                >
                            </li>
                                                        <li>
                                <a class="dropdown-item" href="#"
                                    >排序 : 截止日期</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 卡片 -->

            <!-- CTA Button -->
            <div class="d-flex justify-content-center">
                <button
                    type="button"
                    class="btn btn-secondaryL bg-primary-500 btn-primaryL text-white fw-semibold">
                    探索更多專案
                </button>
            </div>
        </div>
    </div>
</section>
