<section class="container-fluid mt-lg-7 mt-xl">
    <div class="container text-center">
        <div>
            <div
                class="text-primary-600 display-lg-4 display-6 fw-bold mb-4 mb-lg-5">
                用專業與行動，支持你關心的改變
            </div>
            <div class="fs-lg-2 fs-lg mb-5">
                媒合技能志工與公益專案、提供小額金援支持、串聯每一份地方改變的力量。
            </div>
        </div>
        <div class="mb-6">
            <img
                src="/assets/images/bn-illus.svg"
                alt="用專業與行動，支持你關心的改變" />
        </div>
    </div>
</section>
<div class="pink-wave">
    <div class="cta-search-bar container" id="cta-search-bar">
        <div class="tab-nav d-flex justify-content-center">
            <div class="tab-item active fs-lg mt-5 pt-3">
                <a class="pt-3 px-xl pb-2" href="#cta-search-bar"
                    ><span>找專案</span></a
                >
                <div class="tab-icon">
                    <img src="/assets/images/greenleaf.svg" alt="" />
                </div>
            </div>
            <div class="tab-item fs-lg mt-5 pt-3">
                <a class="pt-3 px-xl pb-2" href="#cta-search-bar"
                    ><span>找志工</span></a
                >
                <div class="tab-icon">
                    <img src="/assets/images/greenleaf.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-bg-01 pt-4">
    <div class="container">
        <form class="search-card p-4 p-lg-5 rounded-lg-pill rounded-5 bg-white">
            <div
                class="d-flex flex-column flex-lg-row align-items-center gap-4 gap-lg-5">
                <!-- 專案類型 -->
                <div class="flex-grow-1 w-100">
                    <div
                        class="form-floating floating-label-sm-hide form-mobile-spacing">
                        <select
                            class="form-select border-0 text-natural-300 no-icon"
                            id="floatingSelect"
                            aria-label="專案類型">
                            <option selected selected>請選擇專案類型</option>
                            <option value="1">類型 A</option>
                            <option value="2">類型 B</option>
                        </select>
                        <label
                            for="floatingSelect"
                            class="fw-semibold fs-6 mb-1 text-natural-600"
                            >專案類型</label
                        >
                    </div>
                </div>

                <!-- 分隔線 -->
                <div class="divider-adaptive"></div>

                <!-- 參與領域 -->
                <div class="flex-grow-1 w-100">
                    <div
                        class="form-floating floating-label-sm-hide form-mobile-spacing">
                        <select
                            class="form-select border-0 text-natural-300 no-icon"
                            id="floatingSelect"
                            aria-label="參與領域">
                            <option selected selected>
                                請選擇您想參與的領域
                            </option>
                            <option value="1">類型 A</option>
                            <option value="2">類型 B</option>
                        </select>
                        <label
                            for="floatingSelect"
                            class="fw-semibold fs-6 mb-1 text-natural-600"
                            >專案類型</label
                        >
                    </div>
                </div>

                <!-- 分隔線 -->
                <div class="divider-adaptive"></div>

                <!-- 專案地點 -->
                <div class="flex-grow-1 w-100">
                    <div
                        class="form-floating floating-label-sm-hide form-mobile-spacing">
                        <input
                            type="text"
                            class="form-control text-natural-300 border-0"
                            id="Project-Location"
                            placeholder="請輸入專案地點"
                            value="請輸入專案地點" />
                        <label
                            for="Project-Location"
                            class="fw-semibold fs-6 text-natural-600"
                            >專案地點</label
                        >
                    </div>
                </div>

                <!-- 右側搜尋按鈕（桌面端） -->
                <div class="ms-lg-auto d-none d-lg-flex">
                    <button
                        type="submit"
                        class="btn btn-primary-500 rounded-circle text-white icon-btn">
                        <span class="material-symbols-outlined"> search </span>
                    </button>
                </div>

                <!-- 行動端滿版搜尋按鈕 -->
                <div class="d-lg-none w-100">
                    <button
                        type="submit"
                        class="btn btn-primary-500 text-white rounded-pill w-100">
                        <span class="material-symbols-outlined align-bottom">
                            search
                        </span>
                        搜尋
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
