<section class="container-fluid mt-lg-7 mt-xl">
    <div class="container text-center">
        <div>
            <div
                class="text-primary-600 display-lg-4 display-6 fw-bold mb-4 mb-lg-5">
                用專業與行動，支持你關心的改變
            </div>
            <div class="fs-lg-2 fs-lg mb-5">
                媒合技能志工與公益專案、提供小額金援支持、串聯每一份地方改變的力量。
            </div>
        </div>
        <div class="mb-5">
            <img
                src="/assets/images/bn-illus.svg"
                alt="用專業與行動，支持你關心的改變" />
        </div>
    </div>
</section>
<div class="pink-wave">
    <div class="cta-search-bar container" id="cta-search-bar">
        <div class="tab-nav d-flex justify-content-center">
            <div class="tab-item active fs-lg">
                <a class="pt-3 px-xl pb-2" href="#cta-search-bar"
                    ><span>找專案</span></a
                >
                <div class="tab-icon">
                    <img src="/assets/images/tabs/greenleaf.svg" alt="" />
                </div>
            </div>
            <div class="tab-item fs-lg">
                <a class="pt-3 px-xl pb-2" href="#cta-search-bar"
                    ><span>找志工</span></a
                >
                <div class="tab-icon">
                    <img src="/assets/images/tabs/greenleaf.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
