<section class="container-fluid bg-bg-01">
    <div class="container">
        <div class="row py-2xl py-lg-7">
            <div
                class="d-flex justify-content-center position-relative mb-lg-2xl mb-xl">
                <img
                    src="/assets/images/steps.svg"
                    alt="projects"
                    class="md-w180" />
                <img
                    src="/assets/images/list.svg"
                    alt="fire"
                    class="md-w80 position-absolute start-60 top-60 translate-middle" />
            </div>
        </div>
    </div>
</section>
