<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>關於我們</title>
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- section 1 -->
    <section class="my-2xl my-md-7">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="display-6 display-md-4 text-primary-600 fw-semibold fw-md-bold mb-4 mb-md-5">我們是 ZoHue 做伙</h1>
            <h2 class="fs-lg fs-md-2 text-natural-600 fw-normal">把專業與善意連結，讓每個好點子都有人力實現。</h2>
          </div>
        </div>
      </div>
    </section>

    <div class="curved-section position-relative overflow-hidden"></div>

    <!-- section 2 -->
    <section class="bg-bg-01 pb-2xl pb-md-7 overflow-hidden">
      <div class="container">
        <div class="row align-items-center">
          <!-- 左邊內容區-->
          <div class="col-12 col-lg-5 mb-5 mb-lg-0">
            <!-- Logo -->
            <div class="d-flex justify-content-center">
              <img src="../assets/images/logo.svg" alt="ZoHue" class="mb-2xl ZoHueLogo">
            </div>

            <!-- 標題文字 -->
            <div class="position-relative mb-xl mb-md-2xl">
              <img src="../assets/images/format_quote.svg" alt="" class="quote-icon">
              <h3 class="rounded-pill bg-white p-4 p-md-5 fs-lg fs-md-4 fw-bold text-center">
                <p class="mb-4">你可以發起一個改變，</p>
                <p>也可以成為別人改變的一部分。</p>
              </h3>
            </div>

            <!-- 內容文字 -->
            <p class="mb-4 mb-md-5 text-natural-700">
              <span class="fw-semibold">我們是一群相信「技能能改變世界」的人。</span>
              ZoHue團隊成員來自社會設計、工程開發、非營利組織、教育與媒體等領域。我們曾在地方、偏鄉、災區做社會前線工作，也曾是熱血、也曾資質資源匱乏。
            </p>

            <p class="mb-4 mb-md-5 text-natural-700">
              我們建立這個平台，希望讓「想幫忙」的人更容易加入；「需要幫忙」的人不再孤單。ZoHue（台語「做伙」）是我們的信念：
              <span class="fw-semibold">少你不可，一起做好。</span>Logo
              中的點角笑臉，象徵著：這份善意，只有當你參與，才真正完整。
            </p>

            <p class="text-natural-700 fw-semibold">我們不只是一個平台，而是實踐一種協作文化。</p>
          </div>

          <!-- 右邊圖片區-->
          <div class="col-12 col-lg-7">
            <div class="about-img-grid d-flex flex-wrap gap-3 gap-md-5">
              <img src="../assets/images/abouts1img.svg" alt="" class="mw-100 d-block object-fit-cover aboutsImg">
              <img src="../assets/images/abouts2img.svg" alt="" class="mw-100 d-block object-fit-cover aboutsImg">
              <img src="../assets/images/abouts3img.svg" alt="" class="mw-100 d-block object-fit-cover aboutsImg">
              <img src="../assets/images/abouts4img.svg" alt="" class="mw-100 d-block object-fit-cover aboutsImg">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 3 -->
    <section class="bg-bg-01 py-2xl py-md-7">
      <div class="container">
        <!-- 標題區 -->
        <h2 class="text-center mb-3 mb-md-4 fs-3 fs-md-2">我們的故事</h2>
        <p class="text-natural-600 text-center fs-7 fs-md-6">每一小步，都是往「做好」邁進的大步</p>

        <!-- 時間軸區域 -->
        <div class="timeline-wrapper position-relative pt-xl pt-md-2xl">
          <!-- 時間軸容器 - 水平滾動 -->
          <div class="timeline-container">
            <div class="row flex-nowrap">

              <!-- 起點 -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="timeline-item">
                  <!-- 虚线 -->
                  <div class="timeline-line-item"></div>

                  <!-- 年份標籤 -->
                  <div class="timeline-year text-primary-700 py-8 px-xl text-center">2024</div>

                  <!-- 圖片卡片 -->
                  <img src="../assets/images/Story1.svg" alt="起點" class="rounded mb-4 mb-md-5">
                  <div class="text-center">
                    <h4 class="mb-3 mb-md-4 fs-lg fs-md-4">起點</h4>
                    <p class="text-natural-700 fs-7 fs-md-6">
                      在一次偏鄉服務中，我們遇見了缺乏資源的老師，也聽見了專業人士「想幫忙卻無門」的心聲。這份交集，成了 ZoHue 的起點。
                    </p>
                  </div>
                </div>
              </div>

              <!-- 組成團隊、搭建第一版平台 -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="timeline-item">
                  <div class="timeline-line-item"></div>
                  <div class="timeline-year text-primary-700 py-8 px-xl text-center">2024 年底</div>
                  <img src="../assets/images/Story2.svg" alt="組成團隊、搭建第一版平台" class="rounded mb-4 mb-md-5">
                  <div class="text-center">
                    <h4 class="mb-3 mb-md-4 fs-lg fs-md-4">組成團隊、搭建第一版平台</h4>
                    <p class="text-natural-700 fs-7 fs-md-6">
                      我們聚集了跨領域的夥伴，一邊寫程式、一邊下鄉訪談，在沒有大型資源與預算的條件下，搭起了 ZoHue 的第一版。
                    </p>
                  </div>
                </div>
              </div>

              <!-- 第一次媒合成功 -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="timeline-item">
                  <div class="timeline-line-item"></div>
                  <div class="timeline-year text-primary-700 py-8 px-xl text-center">2025</div>
                  <img src="../assets/images/Story3.svg" alt="第一次媒合成功" class="rounded mb-4 mb-md-5">
                  <div class="text-center">
                    <h4 class="mb-3 mb-md-4 fs-lg fs-md-4">第一次媒合成功</h4>
                    <p class="text-natural-700 fs-7 fs-md-6">
                      第一個技能志工成功協助提案者完成設計任務，點燃「做伙」實現改變的希望。
                    </p>
                  </div>
                </div>
              </div>

              <!-- 收到第一筆金援 -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="timeline-item">
                  <div class="timeline-line-item"></div>
                  <div class="timeline-year text-primary-700 py-8 px-xl text-center">啟動資源</div>
                  <img src="../assets/images/Story4.svg" alt="收到第一筆金援" class="rounded mb-4 mb-md-5">
                  <div class="text-center">
                    <h4 class="mb-3 mb-md-4 fs-lg fs-md-4">收到第一筆金援</h4>
                    <p class="text-natural-700 fs-7 fs-md-6">
                      第一位支持者讓我們更有勇氣、有資源將點子化為行動！ 這筆珍貴的資金不僅是實質的幫助，更是對我們平台理念與團隊能力的強烈肯定。
                    </p>
                  </div>
                </div>
              </div>

              <!-- 邁向下一步 -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="timeline-item">
                  <div class="timeline-line-item"></div>
                  <div class="timeline-year text-primary-700 py-8 px-xl text-center">深化行動</div>
                  <img src="../assets/images/Story5.svg" alt="邁向下一步" class="rounded mb-4 mb-md-5">
                  <div class="text-center">
                    <h4 class="mb-3 mb-md-4 fs-lg fs-md-4">邁向下一步</h4>
                    <p class="text-natural-700 fs-7 fs-md-6">
                      我們將啟動 專案培育機制，導入＂專業師資＂輔導，協助優質專案從「0」到「1」落地。
                      同時，建立高透明度的 回饋者社群，讓支持者能親身見證每筆資金帶來的真實改變。
                    </p>
                  </div>
                </div>
              </div>

              <!-- 我們的承諾 -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="timeline-item">
                  <div class="timeline-line-item"></div>
                  <div class="timeline-year text-primary-700 py-8 px-xl text-center">2026 展望</div>
                  <img src="../assets/images/Story6.svg" alt="我們的承諾" class="rounded mb-4 mb-md-5">
                  <div class="text-center">
                    <h4 class="mb-3 mb-md-4 fs-lg fs-md-4">我們的承諾</h4>
                    <p class="text-natural-700 fs-7 fs-md-6">
                      2025年後，ZoHue 不再只是一個平台，它將是一個充滿活力的 永續行動孵化器。我們承諾持續努力，成為所有夢想家與實踐者最堅實的後盾，
                      一同擴大善意的漣漪，讓每一次點擊與支持，都成為改變世界的真實力量。
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- 滾動按鈕-->
          <button class="btn p-2 mt-4 bg-primary-500 timeline-nav-prev" aria-label="上一個">
            <i class="ti ti-arrow-big-left-line-filled"></i>
          </button>
          <button class="btn p-2 mt-4 bg-primary-500 timeline-nav-next" aria-label="下一個">
            <i class="ti ti-arrow-big-right-line-filled"></i>
          </button>
        </div>
      </div>
    </section>

    <!-- section 4 -->
    <section class="bg-bg-01 py-2xl py-md-7">
      <div class="container">
        <div class="text-center mb-xl mb-md-2xl">
          <h2 class="mb-3 mb-md-4 fs-3 fs-md-2">我們相信</h2>
          <p class="text-natural-600 fs-7 fs-md-6">每一份技能，都能成為實踐善意的力量。</p>
        </div>

        <!-- 卡片容器 - 水平滾動 -->
        <div class="beliefs-scroll-container">
          <div class="row flex-nowrap w-auto">
            <!-- 卡片 1 -->
            <div class="col-12 col-sm-6 col-lg-3 w-auto">
              <div class="belief-card position-relative overflow-hidden rounded-lg">
                <img src="../assets/images/believe1.svg" alt="真實需求、真實參與" class="w-100 d-block">
                <div class="belief-tag position-absolute p-2 p-md-3 border-secondary-400 rounded-sm">
                  <img src="../assets/images/真實.svg" alt="真實" class="belief-img">
                </div>
                <div class="belief-content position-absolute bottom-0 start-0 end-0 p-4 p-md-5">
                  <h4 class="mb-2 mb-md-3 fs-lg fs-md-4 text-white">真實需求、真實參與</h4>
                  <p class="fs-7 fs-md-6 text-natural-100">每一個任務都對接真實需求，來自當地、來自現場，讓每一份參與都能被看見。</p>
                </div>
              </div>
            </div>

            <!-- 卡片 2 -->
            <div class="col-12 col-sm-6 col-lg-3 w-auto">
              <div class="belief-card position-relative overflow-hidden rounded-lg">
                <img src="../assets/images/believe2.svg" alt="讓善意堅結，不必獨行" class="w-100 d-block">
                <div class="belief-tag position-absolute p-2 p-md-3 border-secondary-400 rounded-sm">
                  <img src="../assets/images/做伙.svg" alt="做伙" class="belief-img">
                </div>
                <div class="belief-content position-absolute bottom-0 start-0 end-0 p-4 p-md-5">
                  <h4 class="mb-2 mb-md-3 fs-lg fs-md-4 text-white">讓善意堅結，不必獨行</h4>
                  <p class="fs-7 fs-md-6 text-natural-100">我們相信，改變不是靠個人，而是來自一群人『做伙』的行動力， 因為有共同價值，所以我們緊密相連。</p>
                </div>
              </div>
            </div>

            <!-- 卡片 3 -->
            <div class="col-12 col-sm-6 col-lg-3 w-auto">
              <div class="belief-card position-relative overflow-hidden rounded-lg">
                <img src="../assets/images/believe3.svg" alt="人人都能參與改變" class="w-100 d-block">
                <div class="belief-tag position-absolute p-2 p-md-3 border-secondary-400 rounded-sm">
                  <img src="../assets/images/開放.svg" alt="開放" class="belief-img">
                </div>
                <div class="belief-content position-absolute bottom-0 start-0 end-0 p-4 p-md-5">
                  <h4 class="mb-2 mb-md-3 fs-lg fs-md-4 text-white">人人都能參與改變</h4>
                  <p class="fs-7 fs-md-6 text-natural-100">不論你是設計師、工程師、學生、媽媽或剛學會剪影片的新手，只要願意，就能參與。</p>
                </div>
              </div>
            </div>

            <!-- 卡片 4 -->
            <div class="col-12 col-sm-6 col-lg-3 w-auto">
              <div class="belief-card position-relative overflow-hidden rounded-lg">
                <img src="../assets/images/believe4.svg" alt="不分大小技能，每份貢獻都重要" class="w-100 d-block">
                <div class="belief-tag position-absolute p-2 p-md-3 border-secondary-400 rounded-sm">
                  <img src="../assets/images/公平.svg" alt="公平" class="belief-img">
                </div>
                <div class="belief-content position-absolute bottom-0 start-0 end-0 p-4 p-md-5">
                  <h4 class="mb-2 mb-md-3 fs-lg fs-md-4 text-white">不分大小技能，每份貢獻都重要</h4>
                  <p class="fs-7 fs-md-6 text-natural-100">我們相信，每個人都有能被需要的地方，沒有「不夠好」的能力，只有還沒出現的機會。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section5 -->
    <section class="bg-bg-01 pb-2xl pb-md-7">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 m-auto mt-2xl mb-xxl mt-md-7 mb-md-4xl">
            <div class="border border-2 border-secondary-500 rounded-6 py-2xl bg-white position-relative">
              <div class="mb-lg-2xl mb-xxl">
                <h2 class="text-center mb-3 mb-md-4 fs-3 fs-md-2">我們的影響</h2>
                <p class="text-natural-600 text-center fs-7 fs-md-6">原來，做好一件事真的可以這麼多人一起！</p>

                <img src="/assets/images/binder-clip.svg" alt="binder-clip"
                  class="binder-clip md-w80 position-absolute translate-middle" />
              </div>

              <!-- 數據  -->
              <div class="row mb-lg-2xl mb-xxl mx-lg-2xl mx-5 row-gap-xxl">
                <div class="col text-center">
                  <h4 class="fs-md-4 fs-6 fw-semibold mb-2 mb-lg-4 text-nowrap">
                    成功媒合專案
                  </h4>
                  <h3 class="display-md-4 fs-2 fs-md-2xl fw-bold fw-md-semibold text-secondary-600">
                    137
                  </h3>
                </div>
                <div class="col text-center">
                  <h4 class="fs-md-4 fs-6 fw-semibold mb-2 mb-lg-4">
                    串連志工
                  </h4>
                  <h3 class="display-md-4 fs-2 fs-md-2xl fw-bold fw-md-semibold text-secondary-600">
                    1,428
                  </h3>
                </div>
                <div class="col text-center">
                  <h4 class="fs-md-4 fs-6 fw-semibold mb-2 mb-lg-4">
                    技能媒合成功率
                  </h4>
                  <h3 class="display-md-4 fs-2 fs-md-2xl fw-bold fw-md-semibold text-secondary-600">
                    82%
                  </h3>
                </div>
                <div class="col text-center">
                  <h4 class="fs-md-4 fs-6 fw-semibold mb-2 mb-lg-4">
                    志工滿意度
                  </h4>
                  <div class="d-flex justify-content-center">
                    <img src="../assets/images/kid_star.svg" alt="kid_star" class="kid_star">
                    <h3 class="display-md-4 fs-2 fs-md-2xl fw-bold fw-md-semibold text-secondary-600">
                      4.8
                    </h3>
                  </div>
                </div>
              </div>
              <p class="text-center text-natural-600 fs-7">（截至 2025/08）</p>
            </div>
            <!-- 下邊框 -->
            <div class="border-bottom border-2 border-secondary-500 mx-xxl" style="height: 8px"></div>
            <div class="border-bottom border-2 border-secondary-500 mx-3xl" style="height: 8px"></div>
          </div>
        </div>

        <!-- 合作廠商 -->
        <p class="text-center text-natural-600 fs-7 fs-md-6 mb-4">ZoHue 做伙由社會各界共同支持，感謝以下單位的合作與信任：</p>
        <div class="beliefs-scroll-container">
          <div class="d-flex justify-content-center mb-4">
            <img src="../assets/images/partner1.svg" alt="partner1">
            <img src="../assets/images/partner2.svg" alt="partner2">
            <img src="../assets/images/partner3.svg" alt="partner3">
            <img src="../assets/images/partner4.svg" alt="partner4">
            <img src="../assets/images/partner5.svg" alt="partner5">
            <img src="../assets/images/partner6.svg" alt="partner6">
            <img src="../assets/images/partner7.svg" alt="partner7">
            <img src="../assets/images/partner8.svg" alt="partner8">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button"
            class="btn btn-outline-dark border-natural-200 round-pill bg-white btn-hover-dark">想合作？歡迎來信聯繫我們！</button>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>