<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <h1 class="index-title">我是首頁</h1>
    <div class="container text-center">
      <div>
        <div class="text-primary-600 display-4 fw-bold mb-3">用專業與行動，支持你關心的改變</div>
        <div>媒合技能志工與公益專案、提供小額金援支持、串聯每一份地方改變的力量。</div>
      </div>
    </div>

    

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>