<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
            rel="stylesheet" />
        <title>我的參與</title>
    </head>

    <body>
        <%- include('./layout/header'); -%>
        <section class="container-fluid bg-bg-01 pt-lg-7 pt-2xl">
            <div class="container">
                <div class="row pb-xl pb-lg-2xl">
                    <div class="col-lg-auto">
                        <div class="d-flex align-items-center">
                            <img
                                src="/assets/images/Profile-Image.png"
                                alt="Profile-Image"
                                class="me-4" />
                            <div>
                                <h1 class="fs-lg-2 fs-4 fw-bold mb-2 mb-lg-4">
                                    我的參與
                                </h1>
                                <p class="text-natural-600 fs-7 fs-lg-6">
                                    把專業與善意連結，讓每個好點子都有人力實現。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div
                            class="tab-nav d-flex justify-content-center justify-content-lg-end">
                            <div class="tab-item active fs-lg">
                                <a
                                    class="pt-3 px-xl pb-2"
                                    href="#cta-search-bar">
                                    <span>總覽</span>
                                </a>
                                <div class="tab-icon">
                                    <img
                                        src="/assets/images/greenleaf.svg"
                                        alt="" />
                                </div>
                            </div>

                            <div class="tab-item fs-lg">
                                <a
                                    class="pt-3 px-xl pb-2"
                                    href="#cta-search-bar">
                                    <span>技能志工</span>
                                </a>
                                <div class="tab-icon">
                                    <img
                                        src="/assets/images/greenleaf.svg"
                                        alt="" />
                                </div>
                            </div>

                            <div class="tab-item fs-lg">
                                <a
                                    class="pt-3 px-xl pb-2"
                                    href="#cta-search-bar">
                                    <span>金援贊助</span>
                                </a>
                                <div class="tab-icon">
                                    <img
                                        src="/assets/images/greenleaf.svg"
                                        alt="greenleaf" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 總覽數據 -->
                <div class="row pb-5 pb-lg-2xl">
                    <div class="rounded-6 bg-white p-lg-2xl p-xl">
                        <div class="row row-gap-5">
                            <div class="col-6 col-lg-3 text-center">
                                <h4
                                    class="fs-6 fs-lg-4 fw-semibold mb-2 mb-lg-4 text-nowrap">
                                    志工時數
                                </h4>
                                <h3
                                    class="fs-2 display-md-6 fw-bold fw-md-semibold text-secondary-600">
                                    128
                                </h3>
                            </div>

                            <div class="col-6 col-lg-3 text-center">
                                <h4
                                    class="fs-6 fs-lg-4 fw-semibold mb-2 mb-lg-4">
                                    完成專案
                                </h4>
                                <h3
                                    class="fs-2 display-md-6 fw-bold fw-md-semibold text-secondary-600">
                                    15
                                </h3>
                            </div>

                            <div class="col-6 col-lg-3 text-center">
                                <h4
                                    class="fs-6 fs-lg-3 fw-semibold mb-2 mb-lg-4">
                                    累計捐款（NTD）
                                </h4>
                                <h3
                                    class="fs-2 display-md-6 fw-bold fw-md-semibold text-secondary-600">
                                    50,000
                                </h3>
                            </div>

                            <div class="col-6 col-lg-3 text-center">
                                <h4
                                    class="fs-6 fs-lg-3 fw-semibold mb-2 mb-lg-4 text-nowrap">
                                    受惠人數
                                </h4>
                                <h3
                                    class="fs-2 display-md-6 fw-bold fw-md-semibold text-secondary-600">
                                    38
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 勳章＆技能樹 -->
                <div class="row pb-5 pb-lg-2xl row-gap-5">
                    <!-- 勳章 -->
                    <div class="col-lg-8">
                        <div class="rounded-6 bg-white p-lg-2xl p-xl">
                            <h4
                                class="fs-5 fs-lg-4 fw-semibold mb-4 mb-lg-5 text-nowrap">
                                我的勳章
                            </h4>
                            <div
                                class="border-top border-natural-300 mb-5 mb-lg-xxl"></div>
                            <div
                                class="d-flex overflow-auto align-items-stretch mb-5 mb-lg-xxl">
                                <span
                                    class="fs-7 fs-lg-6 fw-semibold bg-primary-50 text-primary-600 px-3 vertical-text text-center rounded-pill me-5">
                                    技能志工
                                </span>

                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/seedling-beginner.svg"
                                        alt="seedling-beginner"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        初心者
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/lightbulb-mentor.svg"
                                        alt="lightbulb-mentor"
                                        class="mb-2 flex-shrink-0" />
                                    <p class="fs-7 text-center text-nowrap">
                                        技能導師
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/medal-100-hours.svg"
                                        alt="medal-100-hours"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        百小時達人
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/heart-rescuer.svg"
                                        alt="heart-rescuer"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        救援行動者
                                    </p>
                                </div>
                            </div>

                            <div
                                class="d-flex overflow-auto align-items-stretch mb-5 mb-lg-xxl">
                                <span
                                    class="fs-7 fs-lg-6 fw-semibold bg-primary-50 text-primary-600 px-3 vertical-text text-center rounded-pill me-5">
                                    金援支持
                                </span>

                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/angel-heart.svg"
                                        alt="angel-heart"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        愛心天使
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/puzzle-master.svg"
                                        alt="puzzle-master"
                                        class="mb-2 flex-shrink-0" />
                                    <p class="fs-7 text-center text-nowrap">
                                        跨界高手
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/donation-100k.svg"
                                        alt="donation-100k"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        贊助達到 10 萬
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/donation-300k.svg"
                                        alt="donation-300k"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        贊助達到 30 萬
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/education-guardian.svg"
                                        alt="education-guardian"
                                        class="mb-2" />
                                    <h6
                                        class="fs-7 text-center fw-normal text-nowrap">
                                        教育守護者
                                    </h6>
                                </div>
                            </div>

                            <div
                                class="d-flex overflow-auto align-items-stretch">
                                <span
                                    class="fs-7 fs-lg-6 fw-semibold bg-primary-50 text-primary-600 px-3 vertical-text text-center rounded-pill me-5">
                                    綜合成就
                                </span>

                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/graduation-support-30.svg"
                                        alt="graduation-support-30"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        幫助學生達到30位
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/influencer-ambassador.svg"
                                        alt="influencer-ambassador"
                                        class="mb-2 flex-shrink-0" />
                                    <p class="fs-7 text-center text-nowrap">
                                        影響力大使
                                    </p>
                                </div>
                                <div class="px-2 me-4 flex-shrink-0">
                                    <img
                                        src="/assets/images/community-spark.svg"
                                        alt="community-spark"
                                        class="mb-2" />
                                    <p class="fs-7 text-center text-nowrap">
                                        社群火花
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 技能樹 -->
                    <div class="col-lg-4">
                        <div class="rounded-6 bg-white p-lg-2xl p-xl h-100">
                            <h4
                                class="fs-5 fs-lg-4 fw-semibold mb-4 mb-lg-5 text-nowrap">
                                技能樹
                            </h4>
                            <div
                                class="border-top border-natural-300 mb-5 mb-lg-xxl"></div>
                            <div class="d-flex mb-5 mb-lg-xxl">
                                <p class="fs-7 me-auto text-nowrap">網頁設計</p>
                                <div
                                    class="row mx-2 align-items-center flex-nowrap"
                                    style="width: 215px; gap: 2px">
                                    <span
                                        class="col bg-primary-500 rounded-start progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar rounded-end"></span>
                                </div>
                                <h6 class="fs-6 text-primary-500 text-nowrap">
                                    LV 4
                                </h6>
                            </div>
                            <div
                                class="d-flex mb-5 mb-lg-xxl align-items-center">
                                <p class="fs-7 me-auto text-nowrap">
                                    社群內容撰寫
                                </p>
                                <div
                                    class="row mx-2 align-items-center flex-nowrap"
                                    style="width: 215px; gap: 2px">
                                    <span
                                        class="col bg-primary-500 rounded-start progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar rounded-end"></span>
                                </div>
                                <h6 class="fs-6 text-primary-500 text-nowrap">
                                    LV 3
                                </h6>
                            </div>
                            <div class="d-flex mb-5 mb-lg-xxl">
                                <p class="fs-7 me-auto text-nowrap">英語輔導</p>
                                <div
                                    class="row mx-2 align-items-center flex-nowrap"
                                    style="width: 215px; gap: 2px">
                                    <span
                                        class="col bg-primary-500 rounded-start progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar rounded-end"></span>
                                </div>
                                <h6 class="fs-6 text-primary-500 text-nowrap">
                                    LV 2
                                </h6>
                            </div>
                            <div class="d-flex mb-5 mb-lg-xxl">
                                <p class="fs-7 me-auto text-nowrap">數學輔導</p>
                                <div
                                    class="row mx-2 align-items-center flex-nowrap"
                                    style="width: 215px; gap: 2px">
                                    <span
                                        class="col bg-primary-500 rounded-start progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar rounded-end"></span>
                                </div>
                                <h6 class="fs-6 text-primary-500 text-nowrap">
                                    LV 3
                                </h6>
                            </div>
                            <div class="d-flex mb-5 mb-lg-xxl">
                                <p class="fs-7 me-auto text-nowrap">影片剪輯</p>
                                <div
                                    class="row mx-2 align-items-center flex-nowrap"
                                    style="width: 215px; gap: 2px">
                                    <span
                                        class="col bg-primary-500 rounded-start progress-bar"></span>
                                    <span
                                        class="col bg-primary-500 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar"></span>
                                    <span
                                        class="col bg-natural-200 progress-bar rounded-end"></span>
                                </div>
                                <h6 class="fs-6 text-primary-500 text-nowrap">
                                    LV 2
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 金援贊助者專區 -->
                <div class="row pb-5 pb-lg-2xl">
                    <div class="">
                        <div class="rounded-6 bg-white p-lg-2xl p-xl">
                            <div
                                class="d-flex flex-column flex-lg-row align-items-center mb-4 mb-lg-5 row-gap-4">
                                <h4
                                    class="fs-5 fs-lg-4 fw-semibold text-nowrap me-auto">
                                    金援贊助者專區
                                </h4>
                                <div class="me-auto me-lg-0">
                                    <button
                                        type="button"
                                        class="btn btn-tabs fw-semibold active me-1">
                                        專案贊助進度
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-tabs fw-semibold me-1">
                                        贊助紀錄
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-tabs fw-semibold me-1">
                                        成果回顧
                                    </button>
                                </div>
                            </div>
                            <div
                                class="border-top border-natural-300 mb-5 mb-lg-xxl"></div>
                            <!-- Accordion -->
                            <div
                                class="accordion accordion-project"
                                id="accordionPanelsStayOpenExample">
                                <div
                                    class="accordion-item border-0 mb-5 mb-lg-xxl">
                                    <h2 class="accordion-header">
                                        <button
                                            class="accordion-button fs-6 fw-semibold text-natural-800"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                            贊助中專案
                                        </button>
                                    </h2>
                                    <div
                                        id="collapseOne"
                                        class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <!-- Accordion 內容1 -->
                                            <div
                                                class="d-none d-lg-flex text-natural-700 fs-7 mb-4">
                                                <div
                                                    class="ms-5"
                                                    style="width: 360px">
                                                    專案名稱
                                                </div>
                                                <div
                                                    class="ms-5"
                                                    style="width: 160px">
                                                    贊助金額
                                                </div>
                                                <div
                                                    class="ms-5"
                                                    style="width: 180px">
                                                    贊助日期
                                                </div>
                                                <div
                                                    class="ms-5"
                                                    style="width: 120px">
                                                    受益學生
                                                </div>
                                                <div
                                                    class="mx-5"
                                                    style="width: 224px">
                                                    專案執行進度
                                                </div>
                                            </div>

                                            <div
                                                class="d-flex align-items-center border border-primary-300 border-2 rounded-lg bg-white p-5 mb-4 gap-5">
                                                <h6 style="width: 360px">
                                                    災害緊急救援物資募集
                                                </h6>
                                                <h6 style="width: 160px">
                                                    NT$ 10,000
                                                </h6>
                                                <h6 style="width: 180px">
                                                    2025/04/07
                                                </h6>
                                                <h6 style="width: 120px">
                                                    10位
                                                </h6>
                                                <div
                                                    class="d-flex align-items-center gap-2"
                                                    style="width: 224px">
                                                    <div
                                                        class="progress flex-grow-1 me-2"
                                                        style="height: 12px">
                                                        <div
                                                            class="progress-bar"
                                                            style="
                                                                width: 85%;
                                                            "></div>
                                                    </div>
                                                    <h6
                                                        class="text-primary-500 fw-semibold">
                                                        85%
                                                    </h6>
                                                </div>
                                            </div>

                                            <div
                                                class="d-flex align-items-center border border-primary-300 border-2 rounded-lg bg-white p-5 mb-4 gap-5">
                                                <h6 style="width: 360px">
                                                    山林步道修繕行動
                                                </h6>
                                                <h6 style="width: 160px">
                                                    NT$ 15,000
                                                </h6>
                                                <h6 style="width: 180px">
                                                    2024/11/15
                                                </h6>
                                                <h6 style="width: 120px">
                                                    20位
                                                </h6>
                                                <div
                                                    class="d-flex align-items-center gap-2"
                                                    style="width: 224px">
                                                    <div
                                                        class="progress flex-grow-1 me-2"
                                                        style="height: 12px">
                                                        <div
                                                            class="progress-bar"
                                                            style="
                                                                width: 100%;
                                                            "></div>
                                                    </div>
                                                    <h6
                                                        class="text-primary-500 fw-semibold">
                                                        100%
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item border-0">
                                    <h2 class="accordion-header">
                                        <button
                                            class="accordion-button fs-6 fw-semibold text-natural-800 disable"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo"
                                            aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                            已贊助專案
                                        </button>
                                    </h2>
                                    <div
                                        id="collapseTwo"
                                        class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <!-- Accordion 內容2 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
    </body>
</html>
