<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
            rel="stylesheet" />
        <title>My Participation</title>
    </head>

    <body>
        <%- include('./layout/header'); -%>
        <section class="container-fluid bg-bg-01 pt-lg-7 pt-2xl">
            <div class="container">
                <img src="" alt="" />
                <h1 class="fs-lg-2 fs-4 fw-bold mb-2 mb-lg-4">我的參與</h1>
                <p class="text-natural-600 fs-7 fs-lg-6">
                    把專業與善意連結，讓每個好點子都有人力實現。
                </p>
            </div>
        </section>

        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
    </body>
</html>
